.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; /* Aligns items to the start of the container */
  align-items: flex-start;
  gap: 3rem; /* Adjust the space between items */
  padding: 2rem;
}

.thumbnail-container::after {
  content: "";
  flex: auto;
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem; /* Space below each item */
  flex: 1 0 calc(20% - 3rem); /* Sets the basis for each item minus the gap */
  max-width: calc(20% - 3rem); /* Ensures no item grows beyond this width */
}

.thumbnail {
  width: 100%; /* Ensure thumbnails take up the width of their container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.thumbnail span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/* Responsive adjustment: ensure 5 items per row on larger screens */
@media (max-width: 1200px) {
  .video-item {
    flex: 1 0 calc(20% - 3rem);
    max-width: calc(20% - 3rem);
  }
}

/* Adjustment for smaller screens if needed */
@media (max-width: 768px) {
  .video-item {
    flex: 1 0 calc(50% - 3rem); /* 2 items per row on smaller screens */
    max-width: calc(50% - 3rem);
  }
}

@media (max-width: 480px) {
  .video-item {
    flex: 1 0 100%; /* 1 item per row on very small screens */
    max-width: 100%;
  }
}
